.textBox 
{
    display: block;
    border: 1px solid rgb(160, 172, 191);
    border-radius: 10px;
    color: rgb(101, 116, 141);
    padding: 20px;
    width: 860px;
    font-size: 17px;
}

.textBoxUpload 
{
    width: 560px;
    float: left;
    border-radius: 10px 0 0 10px;
    padding-left: 70px;
    position: relative;
}

.textBox:focus 
{
    outline: none;
}

input:focus
{
    outline: none;
}

.form 
{
    margin: 0 99px 0 99px;
}

label 
{
    display: block;
    color: rgb(101, 116, 141);
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 5px;
}

a.editAction, input.editAction 
{
    display: inline-block;
    background-color: rgb(11, 164, 250);
    color: white;
    font-weight: 900;
    font-size: 18px;
    font-family: Lato, sans-serif;
    letter-spacing: 1px;
    padding: 18px;
    border-radius: 10px;
    margin-top: 40px;
    border: 0;
    width: 250px;
    text-align: center;
    box-sizing: border-box;
}

a.editAction:hover, input.editAction:hover 
{
    cursor: pointer;
    background-color: rgb(11, 140, 250);
}

input.editAction
{
    margin-left: 150px;
    padding: 20px;
}

a.editAction:last-child
{
    padding: 20px;
    margin-left: 100px;
}

a.editAction:not(:last-child)
{
    padding: 20px;
    margin-left: 150px;
}


input[type="file"] 
{
    display: none;
}

.form form img
{
    clear: both;
    display: block;
    height: 48px;
    width: 48px;
    position: absolute;
    left: -640px;
    top: 7px;
    z-index: 1;
}

.form form img::after 
{
    content: "\f1c5" " " attr(alt);
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.upload 
{
    display: block;
    padding: 20px;
    background-color: rgb(160, 172, 191);
    color: white;
    border-radius: 0 10px 10px 0;
    width: 210px;
    height: 22px;
    text-align: center;
    float: left;
    margin: 0;
    position: relative;
}

.upload:hover 
{
    cursor: pointer;
    background-color: rgb(139, 150, 166);
}

.errorMessage 
{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: rgb(101, 116, 141);
    letter-spacing: 1px;
    margin-top: 20px;
}