body 
{
    width: 1300px;
    background-color: rgb(42, 77, 94);
    font-family: 'Lato', sans-serif;
    margin: 0 auto 0 auto;
}

aside
{
    width: 200px;
    background-color: rgb(53, 64, 82);
    height: 100vh;
    float: left;
}

#accountInfo 
{
    height: 200px;
    border-bottom: 3px solid rgb(42, 52, 67);
}

#accountInfo img 
{
    width: 100px;
    height: 100px;
    margin: 32px 50px 10px 50px;
    border-radius: 50%;
}

#accountLogging 
{
    height: 140px;
    border-bottom: 3px solid rgb(42, 52, 67);
    padding: 30px 0 30px 0;
}

#accountName 
{
    font-size: 18px;
    text-align: center;
    color: rgb(160, 172, 191);
}

.accountOption
{
    display: block;
    color: white;
    background-color: rgb(11, 164, 250);
    padding: 10px;
    text-align: center;
    margin: 20px 25px 20px 25px;
    font-weight: 900;
    font-size: 16px;
    border-radius: 10px;
}

.accountOption:hover 
{
    background-color: rgb(11, 140, 250);
}

.fa.fa-sign-out 
{
    font-size: 20px;
    padding-left: 5px;
    color: rgb(160, 172, 191);
}

.fa.fa-sign-out:hover 
{
    color: white;
    cursor: pointer;
}

nav 
{
    border-bottom: 3px solid rgb(42, 52, 67);
    padding: 25px 0 25px 0;
}

.option
{
    height: 42px;
    font-size: 13px;
    color: rgb(160, 172, 191);
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 4px;
    letter-spacing: 1px;
    display: flex;
}

.option i:before
{
    line-height: 44px;
    padding-right: 7px;
}

.option:hover
{
    border-left: 4px solid rgb(11, 164, 250);
    margin-left: 0;
    background-color: rgb(47, 57, 73);
    color: white;
    cursor: pointer;
}

.option:hover i:before
{
    color: white;
}

.optionActive 
{
    border-left: 4px solid rgb(11, 164, 250);
    margin-left: 0;
    background-color: rgb(47, 57, 73);
    color: white;
}

.optionActive i:before
{
    color: white;
}

.legend
{
    color: rgb(101, 116, 141);
    font-weight: bold;
    font-size: 13px;
    padding-left: 25px;
    padding-bottom: 5px;
}

a
{
    text-decoration: none;
}

a:focus
{
    display: none;
}

main
{
    background-color: rgb(235, 241, 245);
    height: 100vh; 
    overflow-y: hidden;
}

.optionContent
{   
    line-height: 43px;
}
