body 
{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

aside
{
    width: 200px;
    background-color: rgb(53, 64, 82);
    height: 938px;
    float: left;
}

#accountInfo
{
    height: 200px;
    border-bottom: 3px solid rgb(42, 52, 67);
}

#accountInfo img
{
    width: 100px;
    height: 100px;
    margin: 32px 50px 15px 50px;
    border-radius: 50%;
}

#accountName 
{
    font-size: 18px;
    text-align: center;
    color: rgb(160, 172, 191);
}

nav 
{
    border-bottom: 3px solid rgb(42, 52, 67);
    padding: 25px 0px 25px 0px;
}

.option
{
    height: 42px;
    font-size: 13px;
    color: rgb(160, 172, 191);
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 4px;
    letter-spacing: 1px;
    display: flex;
}

.option i:before
{
    line-height: 44px;
    padding-right: 7px;
}

.option:hover
{
    border-left: 4px solid rgb(11, 164, 250);
    margin-left: 0px;
    background-color: rgb(47, 57, 73);
    color: white;
    cursor: pointer;
}

.option:hover i:before
{
    color: white;
}

.legend
{
    color: rgb(101, 116, 141);
    font-weight: bold;
    font-size: 13px;
    padding-left: 25px;
    padding-bottom: 5px;
}

a
{
    text-decoration: none;
}

main
{
    background-color: rgb(235, 241, 245);
    float: left;
    width: 1653px;
    height: 938px;
}

.optionContent
{   
    line-height: 43px;
}
