.title 
{
    font-size: 34px;
    font-weight: 400;
    margin: 50px 0 5px 0;
    color: rgb(101, 116, 141);
}

.subtitle 
{
    color: rgb(11, 164, 250);
    font-weight: 900;
}

table 
{
    background-color: white;
    margin-top: 30px;
    width: 902px;
    border: 1px solid rgb(160, 172, 191);
    border-radius: 10px;
    border-spacing: 0;
}

tbody 
{
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 566px;
}

tbody::-webkit-scrollbar 
{
    background-color: white;
    width: 12px;
    border-bottom-right-radius: 10px;
}

tbody::-webkit-scrollbar-thumb 
{
    background-color: rgb(160, 172, 191);
}

tbody::-webkit-scrollbar-thumb:vertical:hover 
{
    background-color: rgb(139, 150, 166);
}

.bottomScrollbar::-webkit-scrollbar-thumb
{
    border-bottom-right-radius: 8px;
}

tr 
{
    min-height: 62px;
    display: block;
    border-top: 1px solid rgb(160, 172, 191);
    position: relative;
}

tr:not(:first-child)::before 
{
    content: "";
    position: absolute;
    top: -1px;
    width: 12px;
    left: 888px;
    border-top: 1px solid white;
}

thead tr 
{
    border-top: 0;
    border-bottom: 1px solid rgb(160, 172, 191);
}

tr:first-child 
{
    border-top: 0;
}

td, th 
{
    padding: 15px;
    border-left: 1px solid rgb(160, 172, 191);
}

th 
{
    color: white;
    background-color: rgb(11, 164, 250);
    font-size: 18px;
    letter-spacing: 1px;
    height: 32px;
}

.categories td:first-child 
{
    border-left: 0;
    width: 98px;
}

.categories td:nth-child(2) 
{
    width: 499px;
}

.categories td:last-child 
{
    width: 198px;
    border-right: 1px solid rgb(160, 172, 191);
    text-align: center;
}

.categories th:first-child 
{
    min-width: 98px;
    border-left: 0;
    border-radius: 9px 0 0 0;
}

.categories th:nth-child(2) 
{
    min-width: 499px;
}

.categories th:last-child 
{
    min-width: 211px;
    border-radius: 0 9px 0 0;
}

.questions td:first-child 
{
    border-left: 0;
    width: 704px;
}

.questions td:last-child 
{
    border-right: 1px solid rgb(160, 172, 191);
    text-align: center;
    min-width: 83px;
}

.questions th:first-child 
{
    width: 704px;
    border-left: 0;
    border-radius: 9px 0 0 0;
}

.questions th:last-child 
{
    width: 135px;
    border-radius: 0 9px 0 0;
}

td 
{
    color: rgb(101, 116, 141);
    height: 32px;
}

a.action 
{
    background-color: rgb(160, 172, 191);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 13px;
}

a.action:hover 
{
    cursor: pointer;
    background-color: rgb(139, 150, 166);
}
