.title 
{
    font-size: 34px;
    font-weight: 400;
    margin: 50px 0 5px 0;
    color: rgb(101, 116, 141);
}

.subtitle 
{
    color: rgb(11, 164, 250);
    font-weight: 900;
}

table 
{
    background-color: white;
    margin-top: 30px;
    width: 902px;
    border: 1px solid rgb(160, 172, 191);
    border-radius: 10px;
    border-spacing: 0;
}

tr
{
    height: 62px;
}

td, th 
{
    padding: 15px;
    border-left: 1px solid rgb(160, 172, 191);
}

th 
{
    color: white;
    background-color: rgb(11, 164, 250);
    font-size: 18px;
    letter-spacing: 1px;
}

tr td:last-child
{
    width: 198px;
}

td:first-child 
{
    border-left: 0;
}

th:first-child 
{
    border-left: 0;
    border-radius: 9px 0 0 0;
}

th:last-child 
{
    border-radius: 0 9px 0 0;
}

td 
{
    border-top: 1px solid rgb(160, 172, 191);
    color: rgb(101, 116, 141);
}

a.action 
{
    background-color: rgb(160, 172, 191);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 13px;
}

a.action:hover 
{
    cursor: pointer;
    background-color: rgb(139, 150, 166);
}
