#content
{
    font-size: 34px;
    font-weight: 400;
    margin: 50px 100px 5px 100px;
    color: rgb(101, 116, 141);
}

#numOfQuestion 
{
    color: rgb(11, 164, 250);
    margin: 0 100px 0 100px;
    font-weight: 900;
}

#answerGrid 
{
    margin: 40px 100px 5px 100px;
    display: grid;
    grid-template-columns: 900px;
}

.answer 
{
    background-color: white;
    border-style: solid;
    border-color: rgb(160, 172, 191);
    border-width: 1px 1px 0 1px;
    height: 99px;
    color: rgb(101, 116, 141);
}

.answer:first-child 
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.answer:last-child
{
    border-width: 1px 1px 1px 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.answer:hover
{
    background-color: rgb(235, 241, 245);
    color: rgb(11, 164, 250);
    cursor: pointer;
}

.answer:hover .icon
{
    color: rgb(11, 164, 250);
    border-color: rgb(11, 164, 250);
}

.icon 
{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 3px solid rgb(53, 64, 82);
    float: left;
    text-align: center;
    font-size: 30px;
    padding: 7px 7px 7px 7px;
    margin: 22px;
    color: rgb(53, 64, 82);
}

.answerContent
{
    float: left;
    padding: 32px 0 32px 0;
    font-size: 30px;
}

#result 
{
    margin: 40px 100px 5px 100px;
    font-size: 32px;
    color: rgb(101, 116, 141);
    letter-spacing: 1px;
    font-weight: 900;
    text-align: center;
    min-height: 40px;
}

#score 
{
    color: rgb(53, 64, 82);
    margin: 85px 100px 100px 100px;
    font-size: 36px;
    text-align: center;
}

#scoreNum 
{
    font-size: 85px;
    font-weight: 900;
    color: rgb(11, 164, 250);
}

/*-------------------------TESTING!!!!-------------------------------------------*/

.answerDisabled 
{
    background-color: white;
    border-style: solid;
    border-color: rgb(160, 172, 191);
    border-width: 1px 1px 0 1px;
    height: 99px;
    color: rgb(101, 116, 141);
}

.answerDisabled:first-child 
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.answerDisabled:last-child 
{
    border-width: 1px 1px 1px 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}