<!DOCTYPE html>
<html lang="pl">
<head>
    <link rel="icon" href="~/favicon.png" />
    <link rel="stylesheet" href="~/Style/Layout.css" />
    <link rel="stylesheet" href="~/Style/Quizzes.css" />
    <link rel="stylesheet" href="~/Style/Play.css" />
    <link rel="stylesheet" href="~/Style/Summary.css" />
    <link rel="stylesheet" href="~/Style/Edits.css" />
    <link rel="stylesheet" href="~/Style/Categories.css" />
    <link rel="stylesheet" href="~/Style/Validation.css" />
    <link rel="stylesheet" href="~/Style/Fontello/fontello.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <title>Quiz Zone</title>
</head>
<body>
    <aside>
        <div id="accountInfo">
            <img src="~/person.png" alt="profile" />
            <div id="accountName">Jakub Janik</div>
        </div>
        <nav>
            <div class="legend">Main</div>
            <div class="option">
                <i class="icon-home"></i>
                <div class="optionContent" style="line-height: 44px;">Start</div>
            </div>
            <a href="@Url.Action("Quizzes", "Main")">
                <div class="option">
                    <i class="icon-quizzes"></i>
                    <div class="optionContent">Quizy</div>
                </div>
            </a>
            <div class="option">
                <i class="icon-ranking"></i>
                <div class="optionContent">Ranking</div>
            </div>
            <div class="option">
                <i class="icon-info"></i>
                <div class="optionContent">Informacje</div>
            </div>
        </nav>
        <nav>
            <div class="legend">Admin</div>
            <div class="option">
                <i class="icon-users"></i>
                <div class="optionContent" style="line-height: 44px;">Użytkownicy</div>
            </div>
            <a href="@Url.Action("Categories", "Admin")">
                <div class="option">
                    <i class="icon-edit-questions"></i>
                    <div class="optionContent">Pytania</div>
                </div>
            </a>
        </nav>
    </aside>
    <main>
        @RenderBody()
    </main>
</body>
</html>