<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Style/Layout.css" />
</head>
<body>
    <aside>
        <div id="accountInfo">

        </div>
        <nav>
            <div class="legend">Main</div>
            <div class="option">Home</div>
            <div class="option">Quizzes</div>
            <div class="option">Ranking</div>
            <div class="option">Information</div>
        </nav>
    </aside>
    <div style="float: left;">
        @RenderBody()
    </div>
</body>
</html>