@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="form">
    <div class="title">Informacje</div>
    <div class="subtitle"> Quiz Zone </div>

    <div id="wrapper" style="margin: 0; margin-top: 30px; height: 494px;">
        <span class="caption">Nazwa:</span>
        <span class="content">Quiz Zone</span>
        <br>
        <span class="caption">Autor:</span>
        <span class="content">Jakub Janik</span>
        <br>
        <span class="caption">Opis:</span>
        <span class="content">Witryna do grania w quizy, umożliwia rejestrowanie użytkowników i modyfikowanie pytań</span>
        <br>

        <span class="caption">Technologie:</span>
        <br>
        <ul>
            <li class="content">ASP.NET MVC (C#)</li>
            <li class="content">Java Script i jQuery</li>
            <li class="content">HTML i CSS</li>
        </ul>
        
        <br>
        <span class="caption">Github:</span>
        <span class="content"><a href="https://github.com/jakubjanik1/Quiz-Zone">https://github.com/jakubjanik1/Quiz-Zone</a></span>
    </div>
    
</div>