@using Quiz_Zone.Models
@model IEnumerable<Question>

@{
    Layout = "~/Views/_Layout.cshtml";
}

<div id="play">
    <div id="content"></div>
    <div id="numOfQuestion"></div>
    <div id="answerGrid">
        <div onclick="check('A')" class="answer">
            <div class="icon">A</div>
            <div id="answerA" class="answerContent"></div>
        </div>
        <div onclick="check('B')" class="answer">
            <div class="icon">B</div>
            <div id="answerB" class="answerContent"></div>
        </div>
        <div onclick="check('C')" class="answer">
            <div class="icon">C</div>
            <div id="answerC" class="answerContent"></div>
        </div>
        <div onclick="check('D')" class="answer">
            <div class="icon">D</div>
            <div id="answerD" class="answerContent"></div>
        </div>
    </div>
    <div id="result"></div>
    <div id="score">Twój wynik:<br><span id="scoreNum">0</span></div>
</div>
    
<div id="summary">
    <div id="summaryTitle"></div>
    <div id="summaryCategory"></div>

    <div id="wrapper">
        <div class="label"> Punkty <span class="number" id="points"></span> </div>
        <svg viewBox="0 0 36 36" class="circular-chart">
            <path class="circle"
                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
            <text x="18" y="20.35" class="percentage"></text>
        </svg>
        <div class="label"> Liczba pytań <span class="number" id="count"></span> </div>
    </div>

    @Html.ActionLink("Zagraj jeszcze raz", "Play", "Main", new { categoryName = Model.ElementAt(0).Category.Name }, new { @class = "button" })
    @Html.ActionLink("Powrót do quizów", "Quizzes", "Main", null, new { @class = "button" })
</div>

<script>
    let rawJson = '@Html.Raw(Json.Encode(Model))';
    let questions = JSON.parse(rawJson);
    let numOfQuestion = 0;
    let score = 0;  

    generateQuestion(numOfQuestion);

    function check(myAnswer)
    {
        if (myAnswer == questions[numOfQuestion].GoodAnswer)
        {
            score++;
            document.getElementById("result").innerHTML = "Poprawna odpowiedź!!!";
            document.getElementById("scoreNum").innerHTML = score;
            document.getElementById("answer" + myAnswer).parentElement.style.backgroundColor = "#ccffcc";
        }
        else
        {
            document.getElementById("result").innerHTML = "Niepoprawna odpowiedź!!!";
            document.getElementById("answer" + myAnswer).parentElement.style.backgroundColor = "#ffcccc";
            document.getElementById("answer" + questions[numOfQuestion].GoodAnswer).parentElement.style.backgroundColor = "#ccffcc";
        }

        deactivateAnswers();

        if (numOfQuestion < questions.length - 1)
        {
            setTimeout("generateQuestion(++numOfQuestion)", 1000);
        }
        else
        {
            setTimeout("summary()", 1000);
        }            
    }

    function generateQuestion(index)
    {
        activateAnswers();

        document.getElementById("content").innerHTML = questions[index].Content;
        document.getElementById("numOfQuestion").innerHTML = "PYTANIE " + (numOfQuestion+1) + " Z " + questions.length;
        document.getElementById("answerA").innerHTML = questions[index].AnswerA;
        document.getElementById("answerB").innerHTML = questions[index].AnswerB;
        document.getElementById("answerC").innerHTML = questions[index].AnswerC;
        document.getElementById("answerD").innerHTML = questions[index].AnswerD; 
        document.getElementById("result").innerHTML = "";    
    }

    function summary()
    {      
        $('#play').empty();
        $('#summaryTitle').text("Podsumowanie");
        $('#summaryCategory').text(questions[numOfQuestion].Category.Name);
        $('#points').text(score);
        $('#count').text(questions.length);

        let percentResult = (score / questions.length) * 100;
        $('.circle').css('stroke-dasharray', percentResult + ', 100');
        $('.percentage').text(percentResult + '%');
    }
  
    function activateAnswers()
    {
        let letterCode = 'A'.charCodeAt(0);
        $('.answerDisabled').each(function () {
            $(this).attr('onclick', "check('" + String.fromCharCode(letterCode++) + "')");
        });   
        
        $('.answerDisabled').removeAttr('style');
        $('.answerDisabled').addClass('answer');
        $('.answerDisabled').removeClass('answerDisabled');
    }

    function deactivateAnswers()
    {
        $('.answer').removeAttr('onclick');        
        $('.answer').addClass('answerDisabled');
        $('.answer').removeClass('answer');
    }
</script>