@using Quiz_Zone.Models
@model IEnumerable<Category>

@{
    Layout = "~/Views/_Layout.cshtml";
}

<div id="grid">
    @foreach (var category in Model)
    {
        <div class="tile">
            <img src="@Url.Action("GetCategoryIcon", "Admin", new { category.CategoryID })" alt="icon">
            <div class="name">@category.Name</div>
            <div class="description">@category.Description</div>
            <a href="@Url.Action("Play", new { categoryId = category.CategoryID})">
                <div class="playButton">Graj</div>
            </a>
        </div>
    }
</div>