@using Quiz_Zone.Models
@model IEnumerable<string>

@{
    Layout = "~/Views/_Layout.cshtml";
}

<div id="grid">
    @foreach (var category in Model)
    {
        <a href="@Url.Action("Play", new { category = category})">
            <div class="tile">
                <img src="film.png" alt="film" />
                @category
            </div>
        </a>
    }
</div>